[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.core" = "*"
"aws-cdk.aws-apigateway" = "*"
"aws_cdk.aws_lambda" = "*"

[requires]
python_version = "3.9"
